@import "tailwindcss";

/* cores padrão (marca) */
@theme {
  --color-bloom-cream: #fff8e7;
  --color-bloom-blue: #c1dbe8;
  --color-bloom-brown: #43302e;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}